<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
   	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
   	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
   	http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd 
   	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
   	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
   	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
   	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"> 	

	<context:component-scan base-package="demo.controller">
	</context:component-scan>
	
	<mvc:annotation-driven conversion-service="conversionService" >
		<mvc:argument-resolvers>
			<bean class="demo.resolve.PageMethodArgumentProcessor"/>
		</mvc:argument-resolvers>
		<mvc:message-converters register-defaults="true">
			<bean id="stringHttpMessageConverter"  class="org.springframework.http.converter.StringHttpMessageConverter">  
		        <constructor-arg value="UTF-8" index="0"></constructor-arg><!--  
		            避免出现乱码 -->  
		        <property name="supportedMediaTypes">  
		            <list>  
		                <value>text/plain;charset=UTF-8</value>  
		                <value>*/*</value>
		            </list>  
		        </property>  
		    </bean>
             <bean id="fastJsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		          	<property name="supportedMediaTypes">  
		            <list>  
		                <value>application/json;charset=UTF-8</value>  
		                <value>text/html;charset=UTF-8</value><!-- 避免IE出现下载JSON文件的情况 -->  
		            </list>  
		        </property>  
				<property name="objectMapper">  
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
				        <property name="dateFormat">  
				            <bean class="java.text.SimpleDateFormat">  
				                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />  
				            </bean>  
				        </property>  
				    </bean>  
				</property>
		    </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 类型转换支持 -->
	<bean id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="demo.converter.StringDateConverter" />
				<bean class="demo.converter.DateStringConverter" />
				<bean class="demo.converter.StringLongConverter" />
			</list>
		</property>
	</bean>
	
	<!--启动Spring MVC的注解功能,设置编码方式，防止乱码 begin -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!--启动Spring MVC的注解功能,设置编码方式，防止乱码 end -->
	
	<!-- 文件上传支持 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize">
			<value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="viewClass" -->
		<!-- value="org.springframework.web.servlet.view.JstlView" /> -->
		<property name="prefix" value="/WEB-INF/freemarker/" />
	</bean>
	<bean id="jstlViewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		parent="viewResolver">
		<property name="order" value="2" />
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/freemarker/" />
	</bean>
	<bean id="freemarkerResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
		parent="viewResolver">
		<!--<property name="cache" value="true"/> -->
		<property name="order" value="1" />
		<property name="viewNames">
			<array>
				<value>*.ftl</value>
			</array>
		</property>
		<!-- <property name="suffix" value=".ftl" /> -->
		<property name="requestContextAttribute" value="request" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="allowSessionOverride" value="true" />
		<property name="contentType" value="text/html;charset=utf-8" /><!--编码 -->
		<property name="viewClass"
			value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
	</bean>
	
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<description>Required for Freemarker to work in web tier</description>
		<property name="configuration" ref="freemarkerConfiguration" />
	</bean>

	<bean id="freemarkerConfiguration"
		class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<description>Using the Config directly so we can use it outside the
			web tier
		</description>
		<!-- 模板加载路径 -->
		<property name="templateLoaderPaths">
			<list>
				<value>/WEB-INF/freemarker/</value>
				<value>/WEB-INF/ftl_macro</value>
			</list>
		</property>
		<property name="configLocation">
			<value>classpath:freemarker.properties</value>
		</property>
		<!--全局变量部分 -->
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
				<entry key="html_escape" value-ref="fmHtmlEscape" />
				<entry key="base" value="@{base}" />
				<entry key="appVersion" value="@{appVersion}" />
			</map>
		</property>
		<property name="defaultEncoding" value="utf-8" />
	</bean>
	
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="fmHtmlEscape" class="freemarker.template.utility.HtmlEscape" />


</beans>