body {
	margin: 0px;
	background: white;
	font-size: 13px;
	font-family: "Microsoft YaHei";
}

.menu-bar {
	padding: 5px;
	background: #F4F4F4;
}

.menu-panel {
	padding: 5px;
	background: #F4F4F4;
}

.menu-panel .sector-label{
	cursor: pointer;
}

.report-title {
	padding: 5px 5px 0px 5px;
	background: #FFF;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.report-subtitle {
	padding: 8px 0 5px 10px;
	background: #FFF;
	color: #575765;
}

.report-subtitle span {
	color: #000;
	font-weight: bold;
}

.report-subtitle .right {
	display: inline-block;
	float: right;
	margin: 0 10px;
	font-size: 14px;
}

.report-region {
	margin: 0 2px;
	overflow: auto;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

.fixed-panel {
	position: absolute;
	z-index: 100;
}

.part-header {
	height: 20px;
	padding: 5px;
	line-height: 20px;
	border-bottom: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	background: rgb(244, 244, 244);
	overflow: hidden;
}

.part-header.fixed {
	cursor: pointer;
}

.part-header input[type='radio'] {
	margin: 0 2px;
}

.part-header label {
	margin: 0 5px 0 0;
	cursor: pointer;
}

.part-header .title {
	color: #575765;
    font-size: 15px;
    font-weight: bold;
}

.part-content {
	border-bottom: 1px solid #D3D3D3;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #D3D3D3;
	white-space: nowrap;
	overflow: hidden;
}

.part-content .name {
	padding: 6px 0;
	color: #474755;
    font-size: 15px;
    font-weight: bold;
}

.part-content .number {
	padding: 4px 0;
	color: #666;
	font-size: 13px;
}

.part-content .nodata {
	display: block;
	color: #BBB;
	font-size: 14px;
	text-align: center;
}

.part-content .nodata:hover {
	color: #666;
}

.part-content .grid-row {
	height: 94px;
	margin: 0 10px;
}

.part-content .grid-row.top {
	border-top: 1px solid #D3D3D3;
}

.part-content .grid-row.left {
	border-left: 1px solid #D3D3D3;
}

.part-content .grid-row.right {
	border-right: 1px solid #D3D3D3;
}

.part-content .grid-row.bottom {
	border-bottom: 1px solid #D3D3D3;
}

.part-content .grid-row .cell {
	display: inline-block;
	width: 156px;
	height: 86px;
	padding: 4px 6px;
	overflow: hidden;
}

.part-content .grid-row .rowspan2 {
	display: inline-block;
	width: 156px;
	height: 140px;
	padding: 4px 6px;
	overflow: hidden;
}

.part-content .grid-row .colspan4 {
	display: inline-block;
	width: 650px;
	height: 94px;
	padding: 0px 6px;
	overflow: hidden;
}

.part-content .grid-row .cell.left {
	border-left: 1px solid #D3D3D3;
}

.part-content .grid-row .cell.right {
	border-right: 1px solid #D3D3D3;
}

.part-content .grid-row .cell.left {
	border-left: 1px solid #D3D3D3;
}

.part-content .grid-row .cell.right {
	border-right: 1px solid #D3D3D3;
}

.part-content .grid-row .rowspan2.left {
	border-left: 1px solid #D3D3D3;
}

.part-content .grid-row .rowspan2.right {
	border-right: 1px solid #D3D3D3;
}

.general-box {
	min-height: 284px;
}

.general {

}

.general.normal {
	height: 284px;
}

.general.tall {
	height: 270px;
}

.general .chart {
	display: inline-block;
	width: 290px;
	height: 182px;
}

.general .chart-detail {
	display: inline-block;
	width: 150px;
	padding: 6px;
	vertical-align: top;
}

.telcom {
	height: 260px;
}

.telcom .chart {
	display: inline-block;
	margin: 0 10px;
	width: 520px;
	height: 260px;
	vertical-align: top;
}

.telcom .telecom_panel{
	display: inline-block;
	width: 576px;
	border-right:1px solid #D3D3D3;
}

.telecom_panel .chart {
	display: inline-block;
	margin: 0 10px;
	width: 400px;
	height: 260px;
	vertical-align: top;
}

.ranking {
	height: 410px;
	padding: 10px;
}

.ranking-filter {
	display: inline-block;
	margin: 0 20px;
}

.ranking-back {
	display: inline-block;
	cursor: pointer;
}

.ranking-types {
	display: inline-block;
	margin: 10px 0;
}

.ranking-types span {
	padding: 8px 12px;
	border: 1px solid #DDD;
	cursor: pointer;
}

.ranking-types span.active {
	color: #FFF;
	background-color: #666;
}

.ranking-types span:hover {
	color: #FFF;
	background-color: #BBB;
}

.ranking-block {
	float: left;
	padding: 10px 0px;
}

.ranking-block .rblock {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

.ranking-block .rblank {
	display: inline-block;
	width: 60px;
	heigth: 100%;
	vertical-align: top;
}

.ranking-block .rblock.shadow {
	height: 320px;
	padding: 8px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ranking-block .rblock .rbox {
	width: 500px;
	height: 305px;
	overflow: auto;
	vertical-align: top;
}

.ranking-block .rblock .rsbox {
	width: 500px;
	height: 305px;
	overflow: auto;
	vertical-align: top;
}

.ranking-block .ritem {
	margin: 10px 0;
}

.ranking-block .ritem .mtitle {
	display: block;
	padding: 4px;
	width: 300px;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 2px;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	text-shadow: 0px 1px 1px #e4ebe9;
}

.ranking-block .ritem .rcell {
	display: inline-block;
	overflow: hidden;
	color: #333;
}

.ranking-block .ritem .rcell.rno {
	width: 24px;
}

.ranking-block .ritem .rcell.rtitle {
	width: 125px;
	font-weight:bold;
}

.ranking-block .ritem .rcell.rltitle {
	width: 153px;
	font-weight:bold;
}

.ranking-block .ritem .rcell.rname {
	width: 125px;
	cursor: pointer;
	text-align: left;
}

.ranking-block .ritem .rcell.rsname {
	width: 100px;
	cursor: pointer;
	text-align: left;
}

.ranking-block .ritem .rcell.rbar {
	width: 100px;
}

.ranking-block .ritem .rcell.rval {
	width: 70px;
	text-align: right;
}

.ranking-block .ritem .rcell.rzb {
	width: 55px;
	text-align: right;
}

.ranking-block .ritem .rcell.rtb {
	width: 85px;
	text-align: right;
}

.ranking-block .rblock .flag {
	display: inline-block;
	width: 24px;
	height: 17px;
}

.ranking-block .rblock .flag b {
	display: block;
	width: 100%;
	height: 100%;
	background: url(/pmc-pc-web/webstatic/images/triangle.png) no-repeat -2px 2px;
}

.ranking-block .rblock .sort {
	padding: 2px 3px;
	background: #8AA8C2;
	border: 1px solid #97B1CA;
	border-radius: 5px;
	text-align: center;
	line-height: 14px;
	color: #FFF;
}

.ranking-block .rblock .sort.top3 {
	background: #FDAB61;
	border: 1px solid #FF9230;
}

.ranking-block .rnodata {
	display: block;
	margin-top: 120px;
	color: #BBB;
	font-size: 14px;
	text-align: center;
}

.ranking-block .chart1 {
	display: inline-block;
	width: 540px;
	height: 330px;
	vertical-align: top;
}

.ranking-block .chart2 {
	display: inline-block;
	margin-left: 10px;
	width: 540px;
	height: 330px;
	vertical-align: top;
}

.details {
	padding: 8px;
}

.notice {
	margin: 2px 0;
	font-size: 14px;
	background: #EEE;
	border-bottom: 1px solid #CCCCCC;
}

.notice .ntitle {
	display: inline-block;
	padding: 5px;
	width: 120px;
}

.notice .ndate {
	display: inline-block;
	padding: 5px;
}

.notice .ncontent {
	display: none;
	margin: 2px 0;
	padding: 10px;
	height: 100px;
	background: rgb(238, 238, 254);
	border-top: 1px solid #CCCCCC;
	overflow: auto;
}

.notice .nstatus {
	padding: 5px;
	font-weight: bold;
}

.notice .nstatus.unread {
	color: green;
}

.notice .nstatus.readed {
	color: #666;
}

.dialog-menus {
	padding: 5px;
	overflow: hidden;
	background: rgb(244, 244, 244);
}

.dialog-panel {
	overflow: auto;
	background: white;
}

.dialog-panel.border {
	border: 1px solid #DDD;
}

.dialog-panel.message {
	width: 360px;
	height: 180px;
}

.dialog-panel.noticebox {
	width: 720px;
	height: 280px;
}

.dialog-panel.printview {
	width: 800px;
	height: 280px;
}

.dialog-panel.ranking-area {
	width: 520px;
	height: 370px;
}

.dialog-panel.ranking-store {
	width: 520px;
	height: 370px;
}

.dialog-panel.drill-details {
	width: 800px;
	height: 370px;
	overflow: hidden;
}